:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8f9fa; /* Light mode theme color */
}

#app {
  width: 100%;
  min-height: 100vh;
}

.ultra-tiny {
  font-size: 0.7rem;
  font-weight: 500;
}
